name: .NET

on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]
  workflow_dispatch:
env:
  DOTNETVERSION: 9.0.x
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '${{env.DOTNETVERSION}}'

    - name: Install MAUI Workloads (macOS)
      if: matrix.os == 'macos-latest'
      run: dotnet workload install maui-ios maui-maccatalyst
    - name: Install MAUI Workloads (Windows)
      if: matrix.os == 'windows-latest'
      run: dotnet workload install maui
    - name: Install MAUI Workloads (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: dotnet workload install maui-android

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Run Tests
      run: dotnet test --configuration Release --no-build --verbosity normal
